.main-full {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 58.5rem;
    /* height:79rem;  */
    /*! 1920 */
    margin: 0 auto;
    max-width: 120rem;
    /* max-width:144rem; */
    /*! 1920 */
    margin-bottom: 1.5rem;
    /* zoom: 125%; */
    
    /* background-color: #18181980; */
}

.main-full .filters {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    /* margin: 3rem 0 0rem 0; */
    /*! 1920 */
    padding: 2rem 0 4rem 0;
    margin-left: .1rem;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 1.7rem;
    /* background-color: #13101728; */
    background: linear-gradient(90deg, #2a243282 0%, #201d2797 90%);
    border-radius: 1rem 1rem 0 0;

}

.main-full .filters-box-container {
    flex-basis: 24%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: #aea0c497; */
    /* background: linear-gradient(90deg, #45395582 0%, #39314697 90%); */
}

.main-full .close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    top: 2.2rem;
    right: .2rem;
    cursor: pointer;
    /* background: linear-gradient(90deg, #2f263c82 0%, #2e263897 90%);
    transition: background-color 0.4s linear;
    box-shadow: 0px 0px 3px #0000001f;
    border: 1px solid #181819d3; */
    color: #e9e5ee;
    border-radius: 1rem;
}
.main-full .close p{
    font-size: 6rem;
    margin: 0;
    padding: 1.9rem 1.2rem;
    line-height: 0rem;
}

.main-full .filters-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    border-radius: 1rem;
    gap: .8rem;
    padding: 0 1rem;
    /* background-color: #3d394059; */
    /* background: linear-gradient(90deg, #45395582 0%, #39314697 90%); */
    background: linear-gradient(90deg, #2f263c82 0%, #2e263897 90%);
    transition: background-color 0.4s linear;
    box-shadow: 0px 0px 3px #0000001f;
    cursor: pointer;
    margin: 1px;
    border: 1px solid #181819d3;
    border-radius: 1rem 1rem 0 0;
    color: #e9e5ee;
}

.main-full .filters-box img {
    height: 20%;
}

.main-full .filters-box p:nth-child(2) {
    margin-left: .3rem;
}

.main-full .filters-box .selector {
    position: absolute;
    z-index: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 4rem;
    border-radius: 0 0 1rem 1rem;
    background-color: #211b2aae;
}

.main-full .filters-box .selector .option {
    /* background-color: #55466cae; */

    width: 100%;
}

.main-full .filters-box .selector .option p {
    display: block;
    font-size: 1.7rem;
    line-height: 4rem;
    margin: 0%;
    text-align: center;
    /* background-color: #55466cae; */
}

.main-full .filters-box .selector .option p:hover {
    background-color: #433853ae;
}

.main-full .filters-box .selector .option:nth-last-child(1) p {
    border-radius: 0 0 1rem 1rem;

}

.galery-container {
    width: 100%;
    height: 41rem;
    /* height: 61rem;
       ! 1920 */
    overflow: scroll;
    overflow-x: hidden;
    background-color: #13101728;
    background: linear-gradient(90deg, #45395582 0%, #39314697 90%);
    background: linear-gradient(90deg, #2a243282 0%, #201d2797 90%);
    border-radius: 0 0 1rem 1rem;

}

.galery {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 3rem;

    gap: 4rem 0;
    width: 100%;
    margin: 1rem 0;
    /* $ si solo son 4 margin: 7rem 0; */
    /* min-height: 48rem; */
}